/* Set the defaults for all of the styles. */
.cm-d{
  color: #ccc;
}

/* Show a space symbol. */
.cm-space{
  color: #363636;
  position: relative;
}
.cm-space:before{
  content: "●";
  position: absolute;
}

.cm-match{
  color: white;
  background-color: rgba(100, 170, 100, .5);
  border: 1px solid transparent;
  line-height: 21px;
  transition: all .2s ease-in-out;
}
.cm-match:before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 50%;

  height: 2px;
  background-color: currentcolor;
  visibility: hidden;
  -webkit-transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
          transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}
.cm-match.hover{
  background-color: rgba(100, 170, 100, 1);
}

.cm-match:hover:before{
  visibility: visible;
  width: 100%;
  left: 0;
}
.cm-match-alt{ /* Style for every other match. */
  background-color: rgba(30, 175, 190, .5);
}
.cm-match-alt.hover{
  background-color: rgba(30, 175, 190, 1);
}
.cm-cg-1{ /* Color for the first captured item */
  background-color: rgba(210, 120, 120, .5);
}
.cm-cg-1.hover{ /* Color for the first captured item */
  background-color: rgba(210, 120, 120, 1);
}

.cm-cg-2{ /* Color for the first captured item */
  background-color: rgba(210, 160, 120, 0.5);
}
.cm-cg-2.hover{ /* Color for the first captured item */
  background-color: rgba(210, 160, 120, 1);
}

.cm-cg-3{ /* Color for the first captured item */
  background-color: rgba(180, 210, 120, 0.5);
}
.cm-cg-3.hover{ /* Color for the first captured item */
  background-color: rgba(180, 210, 120, 1);
}

.cm-cg-4{ /* Color for the first captured item */
  background-color: rgba(120, 210, 170, 0.5);
}
.cm-cg-4.hover{ /* Color for the first captured item */
  background-color: rgba(120, 210, 170, 1);
}

.cm-cg-5{ /* Color for the first captured item */
  background-color: rgba(120, 190, 210, 0.5);
}
.cm-cg-5.hover{ /* Color for the first captured item */
  background-color: rgba(120, 190, 210, 1);
}

.cm-cg-6{ /* Color for the first captured item */
  background-color: rgba(170, 120, 210, 0.5);
}
.cm-cg-6.hover{ /* Color for the first captured item */
  background-color: rgba(170, 120, 210, 1);
}

.cm-cg-7{ /* Color for the first captured item */
  background-color: rgba(210, 120, 170, 0.5);
}
.cm-cg-7.hover{ /* Color for the first captured item */
  background-color: rgba(210, 120, 170, 1);
}
