/* Set the defaults for all of the styles. */
.cm-tt{
  color: #b4dcb4;
  position: relative;
}

.cm-unicode-escaped, .cm-unicode-range{
  color: orange !important;
}

.cm-literal{
  color: rgb(220, 220, 150);
}
.cm-literal-inv{
  color: rgb(210, 120, 120);
}
/* Range A-z in brackets. */
.cm-range{
  color: rgb(240, 240, 100);
}
.cm-range-inv{
  color: rgb(235, 100, 100);
}

.cm-escaped, .cm-posix-digit, .cm-not-posix-digit, .cm-posix-bound, .cm-not-posix-bound, .cm-posix-space, .cm-not-posix-space, .cm-posix-word, .cm-not-posix-word{
  color: orange;
}

.cm-posix{
  color: #8eff8e;
}
.cm-posix-inv{
  color: #ff8e8e;
}

#regular-expression .cm-tt.hover{
  background: #333;
}

#regular-expression .cm-tt:before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -2px;
  left: 50%;

  height: 2px;
  background-color: currentcolor;
  visibility: hidden;
  -webkit-transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
          transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

#regular-expression .cm-tt.hover:before{
  visibility: visible;
  width: 100%;
  left: 0;
}

.cm-numericrange-start, .cm-numericrange-end, .cm-numericrange-delim,
.cm-start-of-string, .cm-end-of-string, .cm-alternator,
.cm-literal-start, .cm-literal-end,
.cm-captureGroup-start, .cm-captureGroup-end,
.cm-namedGroup, .cm-any{
  color: #999;
}
.cm-zero-or-more, .cm-zero-or-more-possessive, .cm-zero-or-more-lazy, /* f* */
.cm-one-or-more, .cm-one-or-more-possessive, .cm-one-or-more-lazy, /* f+ */
.cm-zero-or-one, .cm-zero-or-one-possessive, /* f? */
.cm-numericrange-num, .cm-numericrange-lazy, .cm-numericrange-possessive{ /* f{2,5} */
  color: #8e8eff;
}

.cm-non-capture, .cm-atomic, .cm-lookahead, .cm-lookbehind,
.cm-lookahead-inv, .cm-lookbehind-inv{
  color: white;
}
