.regex-railroad-diagram {
  display: block;
  width: max-content;
  position: relative;
  user-select: none;
}
.regex-railroad-diagram .error-message {
  color: #e27e8d;
}
.regex-railroad-diagram svg.railroad-diagram {
  stroke: #fff;
  fill: #777;
  max-width: 100%;
}
.regex-railroad-diagram svg.railroad-diagram path {
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}
.regex-railroad-diagram svg.railroad-diagram text {
  font-size: 12px;
  font-family: 'Roboto Mono', '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  stroke-width: 0;
  fill: #fff;
  text-anchor: middle;
}
.regex-railroad-diagram svg.railroad-diagram rect {
  stroke-width: 3;
  stroke: #fff;
  fill: #1e1e1e;
}
.regex-railroad-diagram svg.railroad-diagram g.literal > rect {
  stroke: rgba(120, 210, 120, 0.7);
  fill: rgba(80, 120, 80, 0.5);
}
.regex-railroad-diagram svg.railroad-diagram g.literal > text {
  fill: #b4dcb4;
}
.regex-railroad-diagram svg.railroad-diagram g.character-class > rect {
  stroke: rgba(210, 210, 120, 0.7);
  fill: rgba(120, 120, 80, 0.5);
}
.regex-railroad-diagram svg.railroad-diagram g.character-class > text {
  fill: #dcdcb4;
}
.regex-railroad-diagram svg.railroad-diagram g.character-class.invert > rect {
  stroke: rgba(210, 120, 120, 0.7);
  fill: rgba(120, 80, 80, 0.5);
}
.regex-railroad-diagram svg.railroad-diagram g.character-class.invert > text {
  fill: #dcb4b4;
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion > rect {
  stroke: rgba(210, 120, 210, 0.7);
  fill: rgba(120, 80, 120, 0.5);
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion > text {
  fill: #dcb4dc;
}
.regex-railroad-diagram svg.railroad-diagram g.group > rect {
  stroke-width: 1;
  fill: rgba(0, 0, 0, 0);
}
.regex-railroad-diagram svg.railroad-diagram g.group.capture-group > rect {
  stroke: rgba(120, 120, 210, 0.7);
  fill: rgba(80, 80, 120, 0.1);
}
.regex-railroad-diagram svg.railroad-diagram g.group.capture-group g.caption text {
  fill: #b4b4dc;
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion.group > rect {
  stroke-width: 2;
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion.positive > rect {
  stroke: rgba(120, 210, 120, 0.7);
  fill: rgba(120, 80, 120, 0.1);
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion.positive g.caption text {
  fill: #b4dcb4;
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion.negative > rect {
  stroke: rgba(210, 120, 120, 0.7);
  fill: rgba(120, 80, 120, 0.1);
}
.regex-railroad-diagram svg.railroad-diagram g.zero-width-assertion.negative g.caption text {
  fill: #dcb4b4;
}
.regex-railroad-diagram svg.railroad-diagram g.back-reference > rect {
  stroke: rgba(120, 120, 210, 0.7);
  fill: rgba(80, 80, 120, 0.1);
}
.regex-railroad-diagram svg.railroad-diagram g.back-reference > text {
  fill: #b4b4dc;
}

.regex-railroad-diagram svg.railroad-diagram g.quantified.lazy text {
  fill: #96c8c8;
}
.regex-railroad-diagram svg.railroad-diagram g.quantified.greedy text {
  fill: #c896c8;
}
.regex-railroad-diagram svg.railroad-diagram g.quantified.possessive text {
  fill: #c8c896;
}

path, g, text{
  pointer-events: none;
}

g .capture-group>rect{
  pointer-events: all;
}

/* Hack for firefox rendering the path lines poorly */
@-moz-document url-prefix() {
  .regex-railroad-diagram svg.railroad-diagram path {
    stroke-linecap: round;
  }
  g.caption>path{
    stroke: transparent;
  }
}
#regular-expression{
  overflow-x: auto;
  font-weight: 500;
  font-size: 20px;
  min-height: 60px;
}
#regular-expression .CodeMirror{
  width: -webkit-fit-content;
  width: fit-content;
  min-width: 100%;
  padding: 9px;
}
#regular-expression::-webkit-scrollbar {
  height: 5px;
  /* background: #222; */
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
}

#regular-expression::-webkit-scrollbar-thumb {
  /* background: #000; */
  width: 5px;
}
