::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #222;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #555;
  /* border-radius: 9px; */
  width: 10px;
}

::-webkit-scrollbar-corner{
  background: #222
}


* {
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #ccc;
  background-color: #222; /* For Edge's overscolling */
  font-family: Helvetica, sans-serif;
  scrollbar-color: #999 #222;
  scrollbar-width: 10px;
}


a{
  color: hsla(214, 27%, 70%, 1);
}

.editor{
  font-size: 17px;
}

pre{
  font-family: Consolas, Ubuntu Mono, SF Mono, monospace;
}

.header-bar{
  z-index: 1;
  padding: 12px 18px;
  background: #1a1a1a;
  height: 50px
}
.header-bar img{
  height: 100%;
}
.header-bar span a{
  text-decoration: none;
  color: hsla(120, 30%, 65%, 1);
}

h4{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.pad .CodeMirror {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex: 8 800px;
  flex-flow: column;
  width: 0px;
}

.page section {
  background-color: #222;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  min-height: 0;
  transition: flex .2s ease-out;
}
.results{
  overflow-y: auto;
}

header{
  background: #444;
  color: #ccc;
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 12px 8px;
  pointer-events: none;
}

header .mode-selections{
  pointer-events: all;
}

.page section content {
  flex: 1;
  min-height: 0;
}

.app {
  align-items: stretch;
  display: flex;
  flex: 1;
  min-height: 0;
}

.app .CodeMirror-cursor { border-left: 1px solid #f8f8f0; }
.app .CodeMirror { background: transparent; color: #f8f8f2; height: 100%}
.app .CodeMirror-selected { background: #4a4a4a; }
.app .CodeMirror-focused .CodeMirror-selected { background: #373737; }

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

section.expression {
  flex: 0 auto;
  max-height: 50%;
}

.page .editor {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.editor .pad {
  box-sizing: border-box;
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sidebar {
  background: rgb(29, 29, 29);
  border-right: 1px solid #333;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .45);
  color: #b7b7b7;
  display: flex;
  flex: 1 0 350px;
  flex-direction: column;
  transition: flex .2s ease-in-out;
  width: 350px;
}

.sidebar>div, .sidebar>div>div.tab-contents{
  height: 100%;
  position: relative;
  width: 100%;
}
.sidebar .tabarea,
.sidebar .small-view{
  display: flex;
  flex-direction: column;
}
.sidebar .small-view{
  display: none;
}
.small-view span{
  text-align: center;
}

.sidebar.hide{
  flex: 0 0 50px;
  width: 50px;
}
.sidebar.hide .tabarea{
  display: none;
}
.sidebar.hide .small-view{
  display: flex;
}
.tab-selectors{
  background-color: #1a1a1a;
  display: flex;
  flex: 0 0 38px;
  padding-left: 10px;
  padding-right: 10px;
}
.tab-selectors .button{
  background-color: #333;
  border: none;
  color: #ccc;
  cursor: pointer;
  margin-left: 6px;
  margin-right: 6px;
  padding: 10px 12px;
  position: relative;
  transition: background .2s ease-in-out;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.tab-selectors .button.selected{
  background-color: #444;
}
.tab-selectors .button.selected:before{
  border-bottom-color: #444;
}
.tab-selectors .button.selected:after{
  border-top-color: #444;
}
.tab-selectors .button.close:before{
  border-bottom-color: #690000;
}
.tab-selectors .button.close:after{
  border-top-color: #690000;
}
.tab-selectors .button.close{
  background-color: #690000;
}
.tab-selectors .button:before, .tab-selectors .button:after{
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  transition: border .2s ease-in-out;
}
.tab-selectors .button:before{
  border-top: 0px;
  border-right: 0px;
  border-bottom: 38px solid #333;
  border-left: 10px solid transparent;
  left: -10px;
}
.tab-selectors .button:after{
  border-bottom: 0px;
  border-left: 0px;
  border-top: 38px solid #333;
  border-right: 10px solid transparent;
  right: -10px;
}
.tab-selectors .button:hover{
  background-color: #444;
}
.tab-selectors .button:hover:after{
  border-top-color: #444;
}
.tab-selectors .button:hover:before{
  border-bottom-color: #444;
}

.tab-contents{
  overflow-y: auto;
  cursor: default;
}

.tab-contents>div.tab-contributors{
  display: block;
  margin: 1em 1em;
}
.tab-contents div.hide{
  display: none;
}

.tab-contributors table, .tab-cheatsheet table{
  width: 100%;
}
.tab-contributors h2{
  margin-block-start: 0.23em;
  margin-block-end: 0.23em;
}
.tab-contributors table tbody tr:nth-child(3n+3){
  color: #888;
  font-style: italic;
  font-size: 12px;
}

.tab-cheatsheet table tbody tr td:nth-child(1){
  font-size: 18px;
  padding-left: 0.5em;
}
.tab-cheatsheet table tbody tr td:nth-child(2){
  color: #ddd;
  font-size: 14px;
  padding-right: 0.5em;
}

.tab-cheatsheet table tbody tr td.cs-section{
  padding-top: 0.5em;
  padding-left: 0;
  padding-right: 0;
}
.tab-cheatsheet table tbody tr:last-child td{
  padding-bottom: 0.5em;
}

.tab-cheatsheet table tbody tr td.cs-section h2{
  background: rgba(60, 60, 60, 0.2);
  color: white;
  font-size: 20px;
  padding: 0.5em;

  margin-block-start: 0em;
  margin-block-end: 0;
  text-align: center;
}

.tab-cheatsheet table tbody tr:first-child td{
  padding-top: 0;
}

.diagram{
  overflow:auto;
  background-color:black;
}

.tt{
  background: #3a3a3a; /*Edge doesn't support HEX with alpha specified*/
  background: #3a3a3af2;
  border-radius: 5px;
  bottom: 100%;
  box-shadow: 0px 0px 5px black;
  font-weight: 400;
  height: 100px; /*Edge doesn't support fit-content. Yay.*/
  height: -moz-fit-content; /*Thanks Firefox. Just leave this out of the standard.*/
  height: fit-content;

  max-width: 300px;
  min-width: 200px;
  /* width: 200px; */

  opacity: 0;
  padding: 10px 12px;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  transition: opacity .1s ease-in-out;
  z-index: 3;
}
.tt .CodeMirror{
  background-color:transparent;
  border: 0;
  display: inline-block;
  margin-bottom: -8px;
  width: max-content;
  font-size: 16px;
  height: auto;
}

.tt .tt-pre>span{
  color: hsla(0, 0, 80%, 1);
  font-weight: 600;
  width: inherit;
  overflow: hidden;
}
.tt>span.cm{
  background: #1e1e1e;
  border-radius: 4px;
  display: inline;
  padding: 4px;
}
.tt .tt-pre>span>span{
  color:#00bcd4;
}
.tt .match-number{
  color: #7e7;
}
.tt .tt-pre, .tt .tt-mid, .tt-tt-post{
  display: inline;
}
.tt .tt-mid{
  background: black;
  border-radius: 5px;
  padding: 4px;
  margin: 0px 6px;
}
.match-timer{
  background: #1f5ba8;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  height: fit-content;
  padding: 3px;
}

@-moz-document url-prefix() {
  /* Firefox simply HAS to have weird scroll bars. */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #222;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
    width: 5px;
  }
  .tt{
    min-height: 100px;
  }
}

.combobox{
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.combobox select{
  background-color: #1496ff;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: .5em;
  padding-right: 2.5em;
  -moz-appearance: inherit;
  -webkit-appearance: inherit;
}

.combobox::after{
  position: absolute;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
  color: rgba(0,0,0,.4);
}

.combobox::before{
  position: absolute;
  pointer-events: none;
  content: "";
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,.15);
}

.cm-match, .cm-tt{ /* Need to explicitly set relative or the marker will be placed incorrectly */
  position: relative;
}

.matchvalue ul{
  margin-block-start: unset;
  margin-block-end: unset;
  list-style-type: none;
  padding-inline-start: 0;

  padding: 8px 12px;
  font-size: 20px;
  line-height: 30px;
}
.matchvalue ul li{
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 8px;
}

.matchvalue .matchId{
  color: #fff;
}

.matchvalue .mainResult .value{
  color: #adff2f;
}
